<p style="color: green"><%= notice %></p>
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;
        background-color: #ffffff;
    }
    .panel{
        width: 60%;
        margin: auto;
        margin-bottom: 25px;
    }
    h2{
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
    }
</style>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">订单详情</h3>
  </div>
  <div class="panel-body">
<%= render @transaction_order %>

<% if user_signed_in? %>
<div>

  <p>
    <strong>订单当前状态</strong>
    <% if @transaction_order.accproded?(current_user) %>
      <%= "已收货" %>
    <% else %>
      <%= "未收货" %>
    <% end %>
  </p>
  <% if @transaction_order.accproded?(current_user) %>
    <%= button_to "已完成",accprod_path(@transaction_order), method:"put" ,disabled: true%>
  <% else %>
    <%= button_to "确认收货",accprod_path(@transaction_order), method:"put" %>
  <% end %>
<% end %>
<% if admin_signed_in? %>
        <p>
          <strong>订单当前状态</strong>
          <% if @transaction_order.sendproded?(current_admin) %>
            <%= "已发货" %>
          <% else %>
            <%= "未发货" %>
          <% end %>
        </p>
      <% if @transaction_order.sendproded?(current_admin) %>
        <%= button_to "已发货",sendprod_path(@transaction_order), method:"put" ,disabled: true%>
        <% else %>
        <%= button_to "发货",sendprod_path(@transaction_order), method:"put" %>
      <% end %>
  <% end %>
  <br>
  <%= button_to "取消订单", @transaction_order, method: :delete %><br>
  <%= link_to "返回订单列表", transaction_orders_path %>  |
    <%= link_to "编辑订单", edit_transaction_order_path(@transaction_order) %>
</div>
  </div>
</div>