<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_blog_comment_path %> |
  <%= link_to "Back to comments", blog_comments_path %>   |
  <%= link_to 'Destroy', blog_comment_path, method: :delete, data: {
    confirm: 'Are you sure?' } %>
</div>
