

<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;
        background-color: #ffffff;
    }
    .panel{
        width: 600px;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 25px;
    }
    h2{
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
    }
</style>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">密码找回</h3>
  </div>
  <div class="panel-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :邮箱 %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "发送验证码" %>
  </div>
      <br>
<% end %>

<%= render "admins/shared/links" %>
  </div></div>