<p style="color: green"><%= notice %></p>

<%= render @favorite %>

<div>
  <%= link_to "Edit this favorite", edit_favorite_path(@favorite) %> |
  <%= link_to "Back to favorites", favorites_path %>

  <%= button_to "Destroy this favorite", @favorite, method: :delete %>
</div>
