
<%= form_with(model: cart_item) do |form| %>
  <% if cart_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cart_item.errors.count, "error") %> prohibited this cart_item from being saved:</h2>

      <ul>
        <% cart_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.hidden_field :product_id, :value => params[:product_id] %>

  <p>
    <strong>下单用户id:</strong><%= current_user.id %>
  </p>

  <div>
    <%= form.label "加购数量", style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>
<br>
  <div>
    <%= form.submit %>
  </div>
<% end %>

