<div id="<%= dom_id star %>">

  <p>
    <strong>产品编号:</strong>
    <%= star.product_id %>
  </p>

  <p>
    <strong>产品名称:</strong>
    <%= star.product.product_name %>
  </p>
  <p>
  <strong>产品售价:</strong>
  <%= star.product.retail_price%>
</p>
  <p>
    <strong>用户id:</strong>
    <%= star.user_id %>
  </p>
  <p>
    <strong>收藏时间</strong>
    <%= star.created_at %>
  </p>
</div>
