<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
      .imgwrapper{
          display: inline-block;
          float:right;
          margin-right: 150px;
          margin-top: 20px;
      }
  </style>
</head>
<body>

<div id="<%= dom_id star %>">
  <div class="imgwrapper">  <%= image_tag star.product.pic_url.to_s, size: '150x150' %></div>
  <p>
    <strong>产品编号:</strong>
    <%= star.product_id %>
  </p>

  <p>
    <strong>产品名称:</strong>
    <%= star.product.product_name %>
  </p>
  <p>
  <strong>产品售价:</strong>
  <%= star.product.retail_price%>
</p>
  <p>
    <strong>用户id:</strong>
    <%= star.user_id %>
  </p>
  <p>
    <strong>收藏时间</strong>
    <%= star.created_at %>
  </p>
</div>
</body>