<div id="<%= dom_id product %>">
  <p>
    <strong>产品名称:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>零售价:</strong>
    <%= product.retail_price %>
  </p>

  <p>
    <strong>收藏量:</strong>
    <%= product.favorites %>
  </p>

  <p>
    <strong>销售额:</strong>
    <%= product.sales %>
  </p>

  <p>
    <strong>产品描述:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>产品图片:</strong>
    <%= product.image_directory %>
  </p>

  <p>
    <strong>产品功能:</strong>
    <%= product.gender %>
  </p>

  <p>
    <strong>添加时间:</strong>
    <%= product.added_time %>
  </p>
  <p>
    <strong>产品图片</strong>
    <%#= image_tag(@product.pic_url)  %>
    <img src="/project/app/assets/icon.jpg" alt="暂无图片" />
  </p>


</div>
