<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
      .imgwrapper{
          display: inline-block;
          float:right;
          margin-right: 150px;
          margin-top: 25px;
      }
  </style>
</head>
<body>
<div id="<%= dom_id product %>">
  <div class="imgwrapper">  <%= image_tag product.pic_url.to_s, size: '280x250' %></div>
  <div>
  <p>
    <strong>产品名称:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>零售价:</strong>
    <%= product.retail_price %>
  </p>

  <p>
    <strong>收藏量:</strong>
    <%= product.favorites %>
  </p>

  <p>
    <strong>销售额:</strong>
    <%= product.sales %>
  </p>

  <p>
    <strong>产品描述:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>产品图片:</strong>
    <%= product.image_directory %>
  </p>

  <p>
    <strong>产品功能:</strong>
    <%= product.gender %>
  </p>

  <p>
    <strong>添加时间:</strong>
    <%= product.created_at%>
  </p>
<!--  <p>-->
<!--    <strong>产品图片</strong>-->
<!--  </p>-->
  </div>

</div>
</body>