<p style="color: green"><%= notice %></p>

<%= render @product %>
<% if admin_signed_in? %>
<div>
  <%= link_to "编辑产品", edit_product_path(@product) %> |
  <%= link_to "返回产品列表", products_path %>

  <%= button_to "删除产品", @product, method: :delete %>
</div>
<% end %>
  <div>
    <% if @product.stared?(current_user) %>
    <%= button_to "已收藏",product_stars_path(@product) ,method:"delete" ,disabled:true%>
    <% else %>
      <%= button_to "收藏产品",product_stars_path(@product) ,method:"put"%>
      <% end %>
  <%= link_to "添加到购物车", new_product_cart_item_path(@product,@cart_item) %>  |

  <%= link_to "返回产品列表", products_path %>
  </div>
<h2>尺寸信息</h2>
<div id="sizes">
  <%= render :partial => @product.sizes %>
</div>
<% if admin_signed_in? %>
<%= form_for [@product, Size.new] do |f| %>
  <p>
    <%= f.label :size_name, "尺寸名称" %> <br />
    <%= f.text_field :size_name %>
  </p>
  <p>
    <%= f.label :description, "尺寸描述" %> <br />
    <%= f.text_field :description %>

  </p>
  <p><%= f.submit "添加尺寸" %></p>
<% end %>
<% end %>

<h2>颜色信息</h2>
<div id="colors">
  <%= render :partial => @product.colors %>
</div>
<% if admin_signed_in? %>
<%= form_for [@product, Color.new] do |f| %>
  <p>
    <%= f.label :rgb, "颜色" %> <br />
    <%= f.text_field :rgb %>
  </p>
  <p>
    <%= f.label :description, "颜色描述" %> <br />
    <%= f.text_field :description %>

  </p>
  <p><%= f.submit "添加颜色" %></p>
<% end %>
  <% end %>

<h2>设计信息</h2>
<div id="designs">
  <%= render :partial => @product.designs %>
</div>
<% if admin_signed_in? %>
<%= form_for [@product, Design.new] do |f| %>
  <p>
    <%= f.label :sales, "销售" %> <br />
    <%= f.text_field :sales %>
  </p>
  <p>
    <%= f.label :design_number, "编码" %> <br />
    <%= f.text_field :design_number %>
  </p>
  <p><%= f.submit "添加设计" %></p>
<% end %>
<% end %>